<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.merchant.model.dao.MerchantMapper">

    <!-- Merchant DTO 매핑 -->
    <resultMap id="merchantResultMap" type="com.ohgiraffers.merchant.model.dto.MerchantDTO">
        <id property="merchantNum" column="merchant_num"/>
        <result property="categoryCd" column="category_cd"/>
        <result property="merchantNm" column="merchant_nm"/>
        <result property="apiKey" column="api_key"/>
        <result property="businessNum" column="business_num"/>
        <result property="regDateTime" column="reg_date_time"/>
        <result property="modifyDateTime" column="modify_date_time"/>
        <result property="endDateTime" column="end_date_time"/>
        <result property="brokerageRate" column="brokerage_rate"/>
        <result property="brokerage" column="brokerage"/>
        <result property="contractStatus" column="contract_status"/>
    </resultMap>

    <!-- 전체 가맹점 조회 -->
    <select id="findAllMerchants" resultMap="merchantResultMap">
        SELECT merchant_num, category_cd, merchant_nm, api_key, business_num,
        reg_date_time, modify_date_time, end_date_time, brokerage_rate,
        brokerage, contract_status
        FROM T_Merchant
        ORDER BY merchant_num
    </select>

    <!-- 단일 가맹점 조회 -->
    <select id="findByMerchantNum" parameterType="string" resultMap="merchantResultMap">
        SELECT merchant_num, category_cd, merchant_nm, api_key, business_num,
        reg_date_time, modify_date_time, end_date_time, brokerage_rate,
        brokerage, contract_status
        FROM T_Merchant
        WHERE merchant_num = #{merchantNum}
    </select>

</mapper>
